body, html {
    margin:0px;
    padding:0px;
    background-color: #eee;
    /* height: 100%; */
}

body {
    position:
    relative;
    font-family: roboto;
    color: #000;
}

input {
    background-color: #000;
    border: none;
    max-width: 24px;
    color:
    white;
    text-align: left;
    font-size: 14px;
}

h1, h2, h3 {
    color: #66;
}

h1, h2 {
    margin-top: 60px;
}

ul{margin-left: 20px;margin-bottom: 20px;}

li {margin-bottom: 5px;}

.txtImgS, .txtImgM {
    vertical-align: middle;
    padding: 0px 10px;
}

.txtImgS {width: 30px;}
.txtImgM {width: 40px;}

a {
    /* border-bottom: 1px dashed; */
    cursor: pointer;
    /* background-color: #444; */
    /* color: white; */
    padding: 3px 7px;
    border-bottom: 1px dashed;
    transition: .1s;
    text-decoration: none;
}

a:hover:active, a:hover{
    background-color:#ff7f2a;
    border-radius: 7px;
    border: none;
}

.help {background-color: #fff;clear: both;padding: 20px 60px;/* border: 1px solid #bbb; */margin-bottom: 40px;}

.help a:visited {
    color: black;
}

.help a {
    color: black;
    border-color: #ff7f2a;
}

.help a:hover:active, .help a:hover{
    background-color:#ff7f2a99;
    border-bottom:none;
}

.help .txtBtn {
    border-radius: 5px;
    background-color:#ff7f2a;
    padding: 3px 10px;
    font-weight: bold;
    font-size: 12px;
}

.help .txtBtn.dark {
    background-color: #000;
    color:white;
}

.help .table {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px 15px;
    margin: 40px 0px 40px 20px;
    max-width: 800px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
    margin: 0;
    padding:0;
}
input[type="number"] {
    -moz-appearance: textfield;
    margin: 0px;
    padding:0px;
    border-radius:0px;
}

label {
    font-size: 14px;
    padding-bottom: 1px;
}

#midimix ::selection {background: #FFFFFF33;}

input:focus{
    outline: none;
    background-color: #ff7f2a;
}

#mainpage {
    max-width: 1200px;
    margin: 0px auto;
    padding-top: 40px;
}

.configpanel{max-width: 900px;margin: 0px auto;}

#midimix {
    border: 4px solid #666;
    background-color: #111;
    height: 700px;
    border-radius: 20px;
    margin: 0px auto 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    position:
    relative;
    color:
    white;
}

#dropZone {
    position: absolute;
    top: -4px;
    left: -4px;
    height:100%;
    width:100%;
    background-color: #444444f3;
    color: #aaa;
    border-radius:20px;
    border: 4px solid #444444f3;
    line-height: 700px;
    font-size:80px;
    text-align: center;
    display: none;
}

.dragActive #dropZone {
    display:block;
}

.dzDecor {
    height: 696px;
    width: 846px;
    /* background-color: #444444f3; */
    border: 4px dashed #ff7f2a;
    border-radius: 16px;
    pointer-events: none;
    margin: 20px;
}

.knob .icon {
    border-radius: 50%;
    border:2px solid white;
    height: 40px;
}

.button .icon {
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    height: 20px;
    cursor:
    pointer;
    transition:.1s;
}

.button .icon:hover, .button .icon.selected {
    border-color: white;
}

.icon {
    margin: 3px auto;
    width: 40px;
}

.duplicates .icon {
    cursor: pointer;
}

.knob {display: flex;flex-direction: column;flex-wrap: nowrap;padding: 0px 10px;}
.button {
}

.knob, .button, .slider {
    max-width:70px;
}

.duplicates .knob .icon:hover {
    border: 4px solid #ffcc00;
    width: 36px;
    height: 36px;
}

.duplicates .knob.highlight .icon {
    border: 4px solid #ffcc00;
    width: 36px;
    height: 36px;
    box-shadow: 0px 0px 5px 3px #ffcc00aa;
}

.duplicates .slider .icon:hover {
    border: 3px solid #ffcc00;
    width: 40px;
    height: 18px;
}

.duplicates .slider .icon:hover .sldHld{
    margin-top: 7px;
}

.slider.highlight .icon {
    border: 3px solid #ffcc00;
    width: 40px;
    height: 18px;
    box-shadow: 0px 0px 5px 3px #ffcc00aa;
}

.slider.highlight .icon .sldHld{
    margin-top: 7px;
    background-color: #ffcc00;
}

.button.highlight .icon {
    border-color: #ffcc00;
    box-shadow: 0px 0px 5px 3px #ffcc00aa;
}

.slider .icon {color: white;width: 40px;border: 2px solid white;height: 20px;}

.sldHld {width: 80%;height: 4px;background-color: white;border-radius: 20px;margin-top: 8px;margin-left: 4px;}

.lblInp {display: grid;grid-template-columns: 1fr 1fr;align-items: end;justify-items: start;}

.rowLabel {
    padding-top: 6px;
    font-size: 14px;
}

.operate{
}

.opButton, .bankButton {
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    border: 3px solid;
}

.opButton {
    width: 120px;
    height: 36px;
    line-height: 36px;
    float: left;
    margin-left: 20px;
}

.opButton:hover{
    border-color:white;
}

.opButton:active{
    background-color:white;
}

.bankButton:not(.selected):hover {
    color:white;
    border-color:white;
}

.opButton.option:hover, .opButton.option.selected:hover {
    border-color:white;
}

.opButton.option.selected, .opButton.option:active {
    color: #ff7f2a;
    border-color: #ff7f2a;
}

#duplicates.option.selected, #duplicates.option.selected:hover, #duplicates.option:active {
    color: #ffcc00;
    border-color: #ffcc00;
}


.uploadInstr {
    line-height: 43px;
    margin-left: 40px;
    margin-bottom: 100px;
    float: left;
}

.bankButton, .opButton.option {
    background-color: black;
    color: #aaa;
    border-color: #aaa;
}

.bankButton {
    height: 32px;
    padding-top: 10px;
    width: 110px;
}

.bankButton.selected, .opButton {
    background-color: #ff7f2a;
    color: black;
}

.bankButton.selected {
    border-color: #ff7f2a;
}

.bankButton, .gap, .rowLabel {
    margin-left: 17px;
}

#btnMenu {
    position:
    absolute;
    color: white;
    padding: 10px;
    width: 420px;
    height:200px;
    background-color:
    black;
    border-radius: 14px;
    border: 2px solid #777;
    display: grid;
    box-shadow: 5px 5px 12px 6px rgb(0 0 0 / 90%);
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#btnMenu.hidden {
    visibility:hidden;
}

.simpleMnBtn {
     grid-column: auto / span 4;
     text-align:
     center;
     height: 26px;
     line-height: 26px;
     margin: 0px 20px;
     border-radius: 6px;
     cursor: pointer;
}

.btsd:hover {
    color: #ff7f2a;
    transition:.2s;
}

.mnBtn {
    text-align: center;
    width: 25px;
    margin: 2px;
    height: 25px;
    border-radius: 3px;
    color: black;
    line-height: 25px;
    border-style: solid;
    cursor: pointer;
    position: relative;
}
.mnBtn:hover{margin: 1px;width: 27px;height: 27px;transition: background-color .015s}
.mnBtn:active{margin: 1px;width: 27px;height: 27px;background-color: white;}

.mnBtn.disabled{
    pointer-events:none;
}

.mnBtn.disabled:before {
    background-color: #000000aa;
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 32px;
    height: 32px;
}

.toggle {
    background-color: #ff7f2a;
}

.icon.push:after {
<!--    content: 'PB';
    color:white;
-->
}


.push, .toggle {
    border: 3px solid #ff7f2a;
    transition: border-color .2s;
}

.icon.toggle:after {
    content:
    'TB';
}

.push:hover, .toggle:hover {
    border-color:white;
}

.radio {
}

.icon:after {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    display: block;
    color:black;
}

.rg1 {
    background-color:#c0ff00;
    border-color:#c0ff00;
}

.button .rg1:after {
    content: "R1";
}

.rg2 {
    background-color:#99fb98;
    border-color:#99fb98;
}

.button .rg2:after {
    content: "R2";
}

.rg3 {
    background-color:#51c878;
    border-color:#51c878;
}

.button .rg3:after {
    content: "R3";
}

.rg4 {
    background-color:#4cbb17;
    border-color:#4cbb17;
}

.button .rg4:after {
    content: "R4";
}

.rg5 {
    background-color:#8a9a5b;
    border-color:#8a9a5b;
}

.button .rg5:after {
    content: "R5";
}

.rg6 {
    background-color:#7f8000;
    border-color:#7f8000;
}

.button .rg6:after {
    content: "R6";
}

.rg7 {
    background-color:#308a57;
    border-color:#308a57;
}

.button .rg7:after {
    content: "R7";
}

.rg8 {
    background-color:#01796f;
    border-color:#01796f;
}

.button .rg8:after {
    content: "R8";
}

.toggleAll {
}

.tga1 {
    background-color:#01ffff;
    border-color:#01ffff;
}

.button .tga1:after {
    content: "TA1";
}

.tga2 {
    background-color:#00bffe;
    border-color:#00bffe;
}

.button .tga2:after {
    content: "TA2";
}

.tga3 {
    background-color:#0080ff;
    border-color:#0080ff;
}

.button .tga3:after {
    content: "TA3";
}

.tga4 {
    background-color:#0352e9;
    border-color:#0352e9;
}
.button .tga4:after {
    content: "TA4";
}

.tga5 {
    background-color:#657bd3;
    border-color:#657bd3;
}

.button .tga5:after {
    content: "TA5";
}

.tga6 {
    background-color:#6945d1;
    border-color:#6945d1;
}

.button .tga6:after {
    content: "TA6";
}

.tga7 {
    background-color:#7b00ff;
    border-color:#7b00ff;
}

.button .tga7:after {
    content: "TA7";
}

.tga8 {
    background-color:#4d3ccd;
    border-color:#4d3ccd;
}

.button .tga8:after {
    content: "TA8";
}

.toggleGroup {
}

.toggleGroup:active {
    background-color:black;
    color:white;
}

.toggle1, .toggle1:after {
    color: #01ffff;
}

.button .toggle1:after {
    content: "TG1";
}

.toggle2, .toggle2:after {
    color: #00bffe;
}

.button .toggle2:after {
    content: "TG2";
}

.toggle3, .toggle3:after {
    color: #0080ff;
}

.button .toggle3:after {
    content: "TG3";
}

.toggle4, .toggle4:after {
    color: #0352e9;
}

.button .toggle4:after {
    content: "TG4";
}

.toggle5, .toggle5:after {
    color: #657bd3;
}

.button .toggle5:after {
    content: "TG5";
}

.toggle6, .toggle6:after {
    color: #6945d1;
}

.button .toggle6:after {
    content: "TG6";
}

.toggle7, .toggle7:after {
    color: #7b00ff;
}

.button .toggle7:after {
    content: "TG7";
}

.toggle8, .toggle8:after {
    color: #4d3ccd;
}

.button .toggle8:after {
    content: "TG8";
}
